	body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#666;
	line-height:20px;}
form
{
	overflow: hidden;
	padding-top: 5px;
	max-width:1024px;
	width:100%;
	margin:auto;


}
	#head{
	width:95%;
	margin:0 auto;}

	#head .all{
	width:100%;
	padding-bottom:2%;
	border-bottom:1px dotted #ccc;}

	#head .seguripago_ecommerce_logo{
	display:inline-block;
	padding: 0.5% 1% 0% 0%;
	vertical-align: top;
	}

	#head .seguripago_ecommerce_text{
		width:80%;
		display:inline-block;
		padding:1% 0% 0% 0%;
	}

	#head .cuenta{
	float: left;
	width: 100%;
	border-bottom: 1px dotted #ccc;
	padding-top: 0%;
	padding-right: 0%;
	padding-bottom: 0%;
	padding-left: 0%;
	}

	#head .cuenta .tipo{
			width: 55%;
			border-right: 1px dotted #ccc;
			float: left;
			padding: 0% 0% 1% 0%;
			font-size: 14px;
	}


	#head .cuenta .tipo h2{
		font-size:14px;
	}

	#head .cuenta .tipo ul {
			margin:0px;
			padding: 0px;
	}

	#head .cuenta .tipo ul li {
	list-style: none;
	display: block;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #CCC;

	}

	#head .cuenta .tipo ul li img {
			margin-right: 2%;
	}

	#head .cuenta .monto{
			text-align:center;
			width: 100%;
			float: left;
			padding: 4% 0% 4% 2%;
			font-size:18px;
			color:#666;
			font-weight:bold;border-bottom: 1px dotted #ccc;
		}

	#head .footer{
			float:left;
			width:100%;
			padding:0% 0%;

	}



.seguripago_logo span
{
	margin-top: -120px;
	position: absolute;
	}
	.seguripago_logo{
	font-size: 11px;
	width: 98%;
	text-align: right;
	background-image: url(images/logo-seguripago.gif);
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
	margin-top: 0px;
	margin-right: 0%;
	margin-bottom: 1%;
	margin-left: 0%;
	height: 37px;
	overflow: hidden;
	position: relative;
	}

li label input
{
	height: auto;
	width: auto;

	background-image: none;
	background-color: transparent;

}
	li label span
	{
	padding-left: 2%;
}

li label span.radiooption
{
	display: inline-block;
	line-height: 30px;
	padding-left: 0%;
	position: relative;
}
	li:first-child label
	{
			border-top-width: 0px;
	border-top-style: dashed;
	border-top-color: #CCC;
		}
	li label
	{
	display: block;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	min-height: 30px;
	line-height: 30px;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #CCC;
	padding-top: 2%;
	padding-bottom: 2%;
}
			.descripcion-movil
			{
				display:none;}
li label:hover
{
	background-color: #EFEFEF;
}
#pagar
{
	margin-bottom:0px;}


	#head .cuenta .tipo
				{
					width:100%;
					border:none;}



	.tipo_pago
	{
	display: block;
	list-style-position: inside;
	border: 1px solid #069;
	border-radius: 8px;
	margin-bottom: 10px !important;
	position: relative;
	padding: 5px 0px;
}

.tipo_pago .logo, .tipo_pago ul
{

}
.tipo_pago .logo
{


}

.tipo_pago .logo img
{
	width: 100%;
	height: auto;
	margin: auto;
}

.tipo_pago ul
{
	padding-left: 20% !important;
	display: block;
	background-repeat: no-repeat;
	background-position: left center;
	background-size:20%;
}

.seguricredito  ul,
.seguricredito  .logo
{
	background-image: url(images/seguri-credito.png);

}

.seguricash  ul,
.seguricash  .logo
{
	background-image: url(images/seguri-cash.png);
}

.seguricreditoripley  ul,
.seguricreditoripley  .logo
{
	background-image: url(images/seguri-credito-ripley.gif);

}

.seguricash  .logo,.seguricredito  .logo
{
	display: none;
	height: 59px;
	background-repeat: no-repeat;
	background-position: center top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
	@media all and (max-width: 500px){
		.descripcion-movil
		{
			display:inherit;}
			.descripcion-normal
			{
				display:none;}

				#head .seguripago_ecommerce_text
				{
					width:100%;}

				.tipo_pago ul
				{
	padding-left: 2% !important;
	background-image: none;
	padding-right: 2%;
	width: 96%;
}
.seguricash  .logo,.seguricredito  .logo
{
	display:inherit;}



	}
		.checkterminos
	{
	display: block;
	cursor:pointer
}
.error, .error-terminos
{
	color: #F00;
	font-size: 16px;
	font-weight: bold;
}


	#pagar{
	background-image: -webkit-gradient(linear,left top,left bottom,from(#2e9fd2),to(#21759b));
	background-image: -webkit-linear-gradient(top,#2e9fd2,#21759b);
	background-image: -moz-linear-gradient(top,#2e9fd2,#21759b);
	background-image: -ms-linear-gradient(top,#2e9fd2,#21759b);
	background-image: -o-linear-gradient(top,#2e9fd2,#21759b);
	background-image: linear-gradient(to bottom,#2e9fd2,#21759b);
	border-color: #1b607f;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
	display: inline-block;
	text-decoration: none;
	font-size: 1.9em;
	line-height: 13px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #2e9fd2;
	margin-top: 2%;
	padding-top: 15px;
	padding-right: 18px;
	padding-bottom: 15px;
	padding-left: 18px;	/*padding: 1.8% 2.8%;*/
	}

	#pagar[disabled]{
			background-image: -webkit-gradient(linear,left top,left bottom,from(#1c6180),to(#1c6180));
			background-image: -webkit-linear-gradient(top,#1c6180,#1c6180);
			background-image: -moz-linear-gradient(top,#1c6180,#1c6180);
			background-image: -ms-linear-gradient(top,#1c6180,#1c6180);
			background-image: -o-linear-gradient(top,#1c6180,#1c6180);
			background-image: linear-gradient(to bottom,#1c6180,#1c6180);
			color:#9c9c9c;
			border-color: #113b4e;
			background: #1c6180;


	}

	.medio_descripcion {
			padding-left: 0px;
	}


	@media screen and (max-width:600px){
		.medio_descripcion {
				display: none;
		}

	}

