/*base/_font */
/*base/_reset */
html {
  height: 100%; }

body {
  height: 100%;
  min-height: 100%;
  margin: auto;
  background-color: #f2f2f2;
  color: #4c4c4c; }
  @media only screen and (max-width: 959px) {
    body {
      width: 95%; } }
  @media only screen and (max-width: 767px) {
    body {
      width: 100%; } }

dl {
  margin: 10px 0px 0px;
  overflow: hidden; }

dd,
dt {
  margin: 0px;
  float: left; }

form {
  margin-bottom: 16px; }

img {
  max-height: 100%;
  height: auto;
  width: auto; }

html {
  color: red;
  font-size: 13px;
  line-height: 18px;
  font-family: "Open Sans";
  background: body; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #363636;
  font-family: "Open Sans";
  font-weight: 400; }

h1 {
  font-size: 22px;
  line-height: 28px;
  border-bottom: 1px solid #e8e8e8;
  margin: 0px; }

h2 {
  font-size: 20px;
  line-height: 22px;
  margin: 0px; }

h3 {
  font-size: 18px;
  line-height: 20px;
  margin: 0px;
  color: #515050 !important;
  margin-left: 0px !important; }

h4 {
  font-size: 16px;
  line-height: 18px;
  margin: 0px; }

h5 {
  font-size: 15px;
  line-height: 16px;
  font-weight: normal;
  color: #777777;
  margin: 0px; }

h6 {
  font-size: 12px;
  line-height: 21px;
  margin: 0px; }

h5.subtitle {
  margin-top: 0;
  margin-bottom: 12px; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a {
  font-size: 13px; }

input[type=radio], input[type=checkbox] {
  margin: 0px;
  outline: 0; }

/*base/_header */
/*components/_body */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #666666;
  line-height: 20px;
  background: #f2f2f2; }

/*components/_form */
form {
  width: 100%;
  margin: auto;
  background: white; }

/*components/_buttons */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn .btn:focus, .btn .btn:active:focus, .btn .btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn .btn:hover, .btn .btn:focus {
    color: #333333;
    text-decoration: none; }
  .btn .btn:active, .btn .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn .btn.disabled, .btn .btn[disabled], .btn fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn-pagar {
  font-size: 20px;
  padding: 6px 25px;
  color: white;
  background-color: #31b0d5;
  border-color: #269abc;
  text-decoration: none; }
  .btn-pagar:hover {
    color: white;
    background-color: #2e9fd2;
    border-color: #247aa1; }
  .btn-pagar:focus {
    color: white;
    background-color: #2e9fd2;
    border-color: #247aa1;
    outline: 0; }
  .btn-pagar:active {
    color: white;
    background-color: #2e9fd2;
    border-color: #247aa1;
    background-image: none; }
  .btn-pagar.active {
    background-image: none; }
  .btn-pagar.disable {
    background-color: #5bc0de;
    border-color: #46b8da; }
    .btn-pagar.disable:hover {
      background-color: #5bc0de;
      border-color: #46b8da; }
    .btn-pagar.disable:focus {
      background-color: #5bc0de;
      border-color: #46b8da; }
    .btn-pagar.disable:active {
      background-color: #5bc0de;
      border-color: #46b8da; }
  .btn-pagar .badge {
    color: #5bc0de;
    background-color: white; }

/*components/_header */
/*components/_page */
.contenedor {
  max-width: 766px;
  margin: auto; }

.header {
  text-align: center;
  padding: 10px 0; }

.content {
  padding: 20px;
  background: white; }

.content-head {
  margin: 0 auto;
  display: table;
  width: 100%; }
  .content-head .content-logos {
    display: inline-block;
    vertical-align: middle; }
    .content-head .content-logos img {
      width: 125px; }
  .content-head .ecommerce-text {
    display: inline-block;
    padding: 10px 0px 0px 20px;
    vertical-align: middle; }

.form-head {
  margin: 30px 0px 0px 0px; }
  .form-head h2 {
    font-size: 14px;
    display: inline-block;
    padding: 15px 0;
    color: #4c4c4c;
    font-weight: 600; }
  .form-head .monto {
    display: inline-block;
    float: right;
    background: #e5f6ff;
    color: #4c4c4c;
    padding: 16px 28px;
    font-size: 14px;
    border-radius: 4px; }

.form-content {
  width: 100%;
  border-top: 1px solid #d6d6d6;
  margin: 20px 0px; }

.form-footer .content-tc a {
  color: #216e90; }
.form-footer .content-tc a:hover {
  color: #2e9fd2; }
.form-footer .content-tc a:visited {
  color: #2e9fd2; }
.form-footer .content-pagar {
  margin-top: 15px; }

.seguricredito {
  display: table;
  overflow: hidden;
  width: 100%;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #d6d6d6; }
  .seguricredito img {
    max-width: 100px; }
  .seguricredito .logo-producto {
    width: 104px;
    height: 100%;
    overflow: hidden;
    text-align: center;
    display: table-cell;
    vertical-align: middle; }
  .seguricredito .opciones-producto {
    overflow: hidden;
    display: table-cell;
    padding: 0 20px 0px 20px;
    line-height: 35px; }
    .seguricredito .opciones-producto .radio-b {
      margin: 2px 0px; }
      .seguricredito .opciones-producto .radio-b img {
        margin: -9px 15px; }
      .seguricredito .opciones-producto .radio-b .text-option {
        display: none; }

.seguridebito {
  display: table;
  overflow: hidden;
  width: 100%;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #d6d6d6; }
  .seguridebito img {
    max-width: 100px; }
  .seguridebito .logo-producto {
    width: 104px;
    height: 100%;
    overflow: hidden;
    text-align: center;
    display: table-cell;
    vertical-align: middle; }
  .seguridebito .opciones-producto {
    overflow: hidden;
    display: table-cell;
    padding: 0 20px 0px 20px;
    line-height: 35px; }
    .seguridebito .opciones-producto .radio-b {
      margin: 2px 0px; }
      .seguridebito .opciones-producto .radio-b img {
        margin: -9px 15px; }
      .seguridebito .opciones-producto .radio-b .text-option {
        display: none; }

.seguricash {
  display: table;
  overflow: hidden;
  width: 100%;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #d6d6d6; }
  .seguricash img {
    max-width: 100px; }
  .seguricash .logo-producto {
    width: 104px;
    height: 100%;
    overflow: hidden;
    text-align: center;
    display: table-cell;
    vertical-align: middle; }
  .seguricash .opciones-producto {
    overflow: hidden;
    display: table-cell;
    padding: 0 20px 0px 20px;
    line-height: 35px; }
    .seguricash .opciones-producto .radio-b {
      margin: 2px 0px; }
      .seguricash .opciones-producto .radio-b img {
        margin: -9px 15px; }

.clear {
  clear: both; }

.center {
  text-align: center; }

.modal-open {
  overflow: hidden; }

.modal {
  margin: auto;
  padding: 120px 0;
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0; }
  .modal.fade .modal-dialog {
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out; }
  .modal.in .modal-dialog {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden; }

.modal-dialog {
  position: relative;
  width: 500px;
  margin: auto; }

.modal-content {
  position: relative;
  background-color: white;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0; }

.modal-backdrop {
  position: fixed;
  opacity: 0.5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: black; }
  .modal-backdrop .fade {
    opacity: 0;
    filter: alpha(opacity=0); }
  .modal-backdrop .in {
    opacity: 0.5;
    filter: alpha(opacity=50); }

.modal-header {
  padding: 15px;
  min-height: 16.42857px; }
  .modal-header h2 {
    font-size: 16px;
    color: #4c4c4c;
    font-weight: 500; }

.modal-header.close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.42857; }

.modal-body {
  position: relative;
  padding: 15px; }
  .modal-body h4 {
    font-size: 14px;
    color: #4c4c4c;
    font-weight: 500; }

.modal-footer {
  padding: 0 15px 15px 15px; }
  .modal-footer .modal-footer:before, .modal-footer .modal-footer:after {
    content: " ";
    display: table; }
  .modal-footer .modal-footer:after {
    clear: both; }
  .modal-footer .modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; }
  .modal-footer .modal-footer .btn-group .btn + .btn {
    margin-left: -1px; }
  .modal-footer .modal-footer .btn-block + .btn-block {
    margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0; }
  button.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 0.5; }
  button.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: 0.5;
    outline: 0; }

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: black;
  text-shadow: 0 1px 0 white;
  filter: alpha(opacity=20);
  opacity: 0.2; }

.sr-only {
  position: absolute;
  width: 31px;
  height: 18px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  background: red;
  z-index: 100000; }

.content-bancos {
  display: table;
  overflow: hidden;
  width: 100%;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #d6d6d6; }
  .content-bancos .logo-sp {
    width: 138px;
    height: 100%;
    overflow: hidden;
    text-align: center;
    display: table-cell;
    vertical-align: middle; }
  .content-bancos .opciones-sp {
    overflow: hidden;
    display: table-cell;
    padding: 0 20px 0px 30px;
    line-height: 35px; }

.pago-desc {
  padding: 15px;
  margin: 15px 0px 0px 0px;
  border: 1px solid #eeeeee;
  border-left-width: 4px;
  border-radius: 4px;
  border-left-color: #2d9fd3; }
  .pago-desc h2 {
    font-size: 16px;
    color: #4c4c4c;
    font-weight: 600;
    color: #2d9fd3;
    margin-top: 0;
    margin-bottom: 5px; }
  .pago-desc p {
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 22px; }
    .pago-desc p span {
      color: #4c4c4c;
      font-weight: 600; }

/*components/_footer */
/*components/_body */
@media only screen and (max-width: 320px) {
  .contenedor {
    width: 98%;
    margin: auto;
    padding: 10px 0; }
    .contenedor .header {
      display: none; }
    .contenedor .content {
      padding: 10px; }

  .content-head .ecommerce-text {
    display: inline-block;
    padding: 10px 0px 0px 0px;
    vertical-align: middle; }
  .content-head .content-logos {
    display: table;
    overflow: hidden;
    width: 100%; }
    .content-head .content-logos .logo-socio {
      width: 50%;
      display: table-cell;
      vertical-align: middle;
      position: relative;
      overflow: hidden; }
      .content-head .content-logos .logo-socio img {
        float: left;
        width: 100px; }
    .content-head .content-logos .logo-sp {
      width: 50%;
      display: table-cell;
      vertical-align: middle;
      position: relative;
      overflow: hidden; }
      .content-head .content-logos .logo-sp img {
        float: right;
        width: 100px; }

  .form-head {
    margin: 15px 0px 0px 0px;
    text-align: center; }
    .form-head .monto {
      float: none; }

  .form-content {
    margin: 0px 0px; }

  .form-footer {
    padding: 15px 0px 0px 0px; }
    .form-footer .content-pagar {
      text-align: center; }

  .modal {
    margin: auto;
    padding: 70px 0px 0px 0px;
    position: absolute;
    bottom: initial; }

  .modal-dialog {
    position: relative;
    width: 98%;
    margin: auto; }

  .content-bancos .logo-sp {
    width: 100px; }
    .content-bancos .logo-sp img {
      max-width: 90px; }
  .content-bancos .opciones-sp {
    padding: 0 5px 0px 5px; }
    .content-bancos .opciones-sp img {
      width: 45px; } }
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .contenedor {
    width: 98%;
    margin: auto;
    padding: 10px 0; }
    .contenedor .header {
      display: none; }
    .contenedor .content {
      padding: 10px; }

  .content-head .ecommerce-text {
    display: inline-block;
    padding: 10px 0px 0px 0px;
    vertical-align: middle; }
  .content-head .content-logos {
    display: table;
    overflow: hidden;
    width: 100%; }
    .content-head .content-logos .logo-socio {
      width: 50%;
      display: table-cell;
      vertical-align: middle;
      position: relative;
      overflow: hidden; }
      .content-head .content-logos .logo-socio img {
        float: left;
        width: 125px; }
    .content-head .content-logos .logo-sp {
      width: 50%;
      display: table-cell;
      vertical-align: middle;
      position: relative;
      overflow: hidden; }
      .content-head .content-logos .logo-sp img {
        float: right;
        width: 125px; }

  .form-content .seguricredito .opciones-producto .radio-b .text-option {
    display: inline; }
  .form-content .seguridebito .opciones-producto .radio-b .text-option {
    display: inline; }

  .modal {
    margin: auto;
    padding: 80px 0px 0px 0px;
    position: absolute;
    bottom: initial; }

  .modal-dialog {
    position: relative;
    width: 98%;
    margin: auto; } }
@media only screen and (min-width: 769px) {
  .contenedor {
    width: 100%;
    margin: auto; }

  .content-head .ecommerce-text {
    display: inline-block;
    padding: 10px 0px 0px 20px;
    vertical-align: middle; }
  .content-head .content-logos .logo-sp {
    display: none; }

  .form-content {
    margin: 20px 0px; }
    .form-content .seguricredito .opciones-producto .radio-b .text-option {
      display: inline; }
    .form-content .seguridebito .opciones-producto .radio-b .text-option {
      display: inline; } }
