.contenedor
    max-width: 766px
    margin: auto

.header
    text-align: center
    padding: 10px 0

.content
    padding: 20px
    background: #ffffff

.content-head
    margin: 0 auto
    display: table
    width: 100%
    .content-logos
        display: inline-block
        vertical-align: middle
        img
            width: 125px
    .ecommerce-text
        display: inline-block
        padding: 10px 0px 0px 20px
        vertical-align: middle

.form-head
    margin: 30px 0px 0px 0px
    h2
        font-size: 14px
        display: inline-block
        padding: 15px 0
        color: #4c4c4c
        font-weight: 600
    .monto
        display: inline-block
        float: right
        background: #e5f6ff
        color: #4c4c4c
        padding: 16px 28px
        font-size: 14px
        border-radius: 4px
.form-content
    width: 100%
    border-top: 1px solid #d6d6d6
    margin: 20px 0px

.form-footer
    .content-tc
        a
            color: #216e90
        a:hover
            color: #2e9fd2
        a:visited
            color: #2e9fd2
    .content-pagar
        margin-top: 15px
.seguricredito
    border-bottom: 1px solid #d6d6d6
    padding: 20px 18px
    .logo-seguricredito
        width: 106px
        background: blue
        display: inline-block
        overflow: hidden
        text-align: center
    .opciones-seguricredito
        display: inline-block
        margin-left: 32px
    .radiooption
        display: inline-block
        line-height: 30px
        padding-left: 0%
        position: relative
        vertical-align: middle
    .imgoption
        img
            margin: 0px 15px

.seguridebito
    border-bottom: 1px solid #d6d6d6
    padding: 20px 18px
    .logo-seguricredito
        width: 106px
        background: blue
        display: inline-block
        overflow: hidden
        text-align: center
    .opciones-seguricredito
        display: inline-block
        margin-left: 32px
        overflow: hidden
    .radiooption
        display: inline-block
        line-height: 30px
        padding-left: 0%
        position: relative
        vertical-align: middle
    .imgoption
        img
            margin: 0px 15px

.seguricash
    border-bottom: 1px solid #d6d6d6
    padding: 20px 18px
    .logo-seguricredito
        width: 106px
        display: inline-block
        overflow: hidden
        text-align: center
    .opciones-seguricredito
        display: inline-block
        margin-left: 32px
    .radiooption
        display: inline-block
        line-height: 30px
        padding-left: 0%
        position: relative
        vertical-align: middle
    .imgoption
        img
            margin: 0px 15px
    .logos-bancos
        overflow: hidden
        text-align: center
        display: inline-block
        position: relative
        top: -10px
        left: 20px
        right: 0px
        bottom: 0px
        img
.clear
    clear: both
.center
    text-align: center

.modal-open
    overflow: hidden

.modal
    margin: auto
    padding: 120px 0
    display: none
    overflow: hidden
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1050
    -webkit-overflow-scrolling: touch
    outline: 0
    &.fade
        .modal-dialog
            -webkit-transform: translate3d(0, -25%, 0)
            transform: translate3d(0, -25%, 0)
            -webkit-transition: -webkit-transform 0.3s ease-out
            -moz-transition: -moz-transform 0.3s ease-out
            -o-transition: -o-transform 0.3s ease-out
            transition: transform 0.3s ease-out
    &.in
        .modal-dialog
            -webkit-transform: translate3d(0, 0, 0)
            transform: translate3d(0, 0, 0)

.modal-open
    .modal
        overflow-x: hidden
        overflow-y: hidden

.modal-dialog
    position: relative
    width: 500px
    margin: auto

.modal-content
    position: relative
    background-color: white
    border: 1px solid #999999
    border: 1px solid rgba(0, 0, 0, 0.2)
    border-radius: 4px
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5)
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5)
    background-clip: padding-box
    outline: 0

.modal-backdrop
    position: fixed
    opacity: .5
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 1040
    background-color: black
    .fade
        opacity: 0
        filter: alpha(opacity=0)
    .in
        opacity: 0.5
        filter: alpha(opacity=50)

.modal-header
    padding: 15px
    min-height: 16.42857px
    h2
        font-size: 16px
        color: #4c4c4c
        font-weight: 500

.modal-header
    &.close
        margin-top: -2px

.modal-title
    margin: 0
    line-height: 1.42857

.modal-body
    position: relative
    padding: 15px
    h4
        font-size: 14px
        color: #4c4c4c
        font-weight: 500

.modal-footer
    padding: 0 15px 15px 15px
    .modal-footer:before, .modal-footer:after
        content: " "
        display: table
    .modal-footer:after
        clear: both
    .modal-footer .btn + .btn
        margin-left: 5px
        margin-bottom: 0
    .modal-footer .btn-group .btn + .btn
        margin-left: -1px
    .modal-footer .btn-block + .btn-block
        margin-left: 0

.modal-scrollbar-measure
    position: absolute
    top: -9999px
    width: 50px
    height: 50px
    overflow: scroll

button
    &.close
        -webkit-appearance: none
        padding: 0
        cursor: pointer
        background: 0 0
        border: 0
        &:hover
            color: #000
            text-decoration: none
            cursor: pointer
            filter: alpha(opacity=50)
            opacity: .5
        &:focus
            color: #000
            text-decoration: none
            cursor: pointer
            filter: alpha(opacity=50)
            opacity: .5
            outline: 0
.close
    float: right
    font-size: 21px
    font-weight: 700
    line-height: 1
    color: #000
    text-shadow: 0 1px 0 #fff
    filter: alpha(opacity=20)
    opacity: .2
.sr-only
    position: absolute
    width: 31px
    height: 18px
    padding: 0
    margin: -1px
    overflow: hidden
    clip: rect(0,0,0,0)
    border: 0
    background: red
    z-index: 100000
.content-bancos
    display: table
    overflow: hidden
    width: 100%
    padding: 15px 0 15px 0
    border-bottom: 1px solid #d6d6d6
    .logo-sp
        width: 138px
        height: 100%
        overflow: hidden
        text-align: center
        display: table-cell
        vertical-align: middle
    .opciones-sp
        overflow: hidden
        display: table-cell
        padding: 0 20px 0px 30px
        line-height: 35px

.pago-desc
    padding: 15px
    margin: 15px 0px 0px 0px
    border: 1px solid #eeeeee
    border-left-width: 4px
    border-radius: 4px
    border-left-color: #2d9fd3
    h2
        font-size: 16px
        color: #4c4c4c
        font-weight: 600
        color: #2d9fd3
        margin-top: 0
        margin-bottom: 5px
    p
        margin-bottom: 0px
        font-size: 14px
        line-height: 22px
        span
            color: #4c4c4c
            font-weight: 600
