.contenedor
    max-width: 766px
    margin: auto

.header
    text-align: center
    margin: 20px 0

.content
    padding: 20px
    background: #ffffff

.content-head
    margin: 0 auto
    display: table
    width: 100%
    .ecommerce-logo
        display: inline-block
        vertical-align: middle
    .ecommerce-text
        display: inline-block
        padding: 10px 0px 0px 20px
        vertical-align: middle

.form-head
    margin: 40px 0px 0px 0px
    h2
        font-size: 16px
        display: inline-block
        padding: 15px 0
    .monto
        display: inline-block
        float: right
        background: #e5f6ff
        color: #4c4c4c
        padding: 16px 28px
        font-size: 16px
        border-radius: 4px
.form-content
    width: 100%
    border-bottom: 1px solid #d3d3d3
    border-top: 1px solid #d3d3d3
    margin: 15px 0px

.seguricredito
    border-bottom: 1px solid #d3d3d3
    .img-seguricredito
        background-image: url(/img/debito.png)
        height: 57px
        width: 160px
        float: left
        background-repeat: no-repeat
        background-position: left center
    ul
