

@media only screen and (max-width: 320px) {

  .contenedor{
    width: 98%;
    margin: auto;
    padding: 10px 0;
    .header{
      display: none;
    }
    .content{
      padding: 10px;
    }
  }

  .content-head {
    .ecommerce-text {
      display: inline-block;
      padding: 10px 0px 0px 0px;
      vertical-align: middle;
    }
    .content-logos {
      display: table;
      overflow: hidden;
      width: 100%;
      .logo-socio{
        width: 50%;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        img{
          float: left;
          width: 100px;
        }
      }
      .logo-sp{
        width: 50%;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        img{
          float: right;
          width: 100px;
          }
      }
    }
  }

  .form-head {
    margin: 15px 0px 0px 0px;
    text-align: center;
    .monto {
      float: none;
    }
  }

  .form-content {
    margin: 0px 0px;
  }

  .form-footer{
    padding: 15px 0px 0px 0px;
    .content-pagar{
      text-align: center;
    }
  }

  .modal {
    margin: auto;
    padding: 70px 0px 0px 0px;
    position: absolute;
    bottom: initial;
  }
  .modal-dialog{
    position: relative;
    width: 98%;
    margin: auto;
  }

  .content-bancos{
    .logo-sp{
      width: 100px;
      img{
        max-width: 90px;
      }
    }
    .opciones-sp{
      padding: 0 5px 0px 5px;
      img{
        width: 45px;
      }
    }
  }

}

@media only screen and (min-width: 321px) and (max-width: 768px) {

  .contenedor{
    width: 98%;
    margin: auto;
    padding: 10px 0;
    .header{
      display: none;
    }
    .content{
      padding: 10px;
    }
  }

  .content-head {
    .ecommerce-text {
      display: inline-block;
      padding: 10px 0px 0px 0px;
      vertical-align: middle;
    }
    .content-logos {
      display: table;
      overflow: hidden;
      width: 100%;
      .logo-socio{
        width: 50%;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        img{
          float: left;
          width: 125px;
        }
      }
      .logo-sp{
        width: 50%;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        overflow: hidden;
        img{
          float: right;
          width: 125px;
          }
      }
    }
  }

  .form-content {
    .seguricredito {
      .opciones-producto {
        .radio-b .text-option {
          display: inline;
        }
      }
    }
    .seguridebito {
      .opciones-producto {
        .radio-b .text-option {
          display: inline;
        }
      }
    }
  }


  .modal {
    margin: auto;
    padding: 80px 0px 0px 0px;
    position: absolute;
    bottom: initial;
  }
  .modal-dialog{
    position: relative;
    width: 98%;
    margin: auto;
  }


}

@media only screen and (min-width: 769px) {

  .contenedor{
    width: 100%;
    margin: auto;

    .content{

    }
  }

  .content-head {
    .ecommerce-text {
      display: inline-block;
      padding: 10px 0px 0px 20px;
      vertical-align: middle;
    }
    .content-logos {

      .logo-socio{

        img{

        }
      }
      .logo-sp{
        display: none;
      }
    }
  }

  .form-content {
    margin: 20px 0px;
    .seguricredito {
      .opciones-producto {

        .radio-b .text-option {
          display: inline;
        }
      }
    }
    .seguridebito {
      .opciones-producto {

        .radio-b .text-option {
          display: inline;
        }
      }
    }
  }



}
